
<section style="background-color:pink;" class="text-center">

    <h1 class="display-4">This is about page</h1>

    <p>This is test paragraph.  This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. </p>

    <p>This is test paragraph.  This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. </p>

    <p>This is test paragraph.  This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. </p>
</section>
