@{
    ViewData["Title"] = "Home Page";
}


@{
    string uname = "Yash";
}

<div class="text-center">
    <h1 class="display-4">Welcome @uname</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Building My First Web apps with ASP.NET Core</a>.</p>
</div>


